.container{
   border:1px solid red;
   height: 700px;
   background-image: url(landscape.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center center;
   margin: auto;
}
.main_heading{
	color:#e37e20;
	font-size: 50px;
	margin-top: 10px;
	font-family: ABeeZee;
}
.searchbar{
	width: 60%;
	height: 47px;
	border-radius:25px 25px 25px 25px;
	float: left;
    margin-left:20%;
    margin-top: 10px;
    border-bottom:3px solid red;

}
.search_btn{
	height: 47px;
    width: 10%;
    border-radius:25px 25px 25px 25px;
    margin-top: 10px;
    border-bottom:3px solid red;
} 
.city_name{

	color: white;
	font-family: initial;
	font-size: 40px;
	margin-top: 15px;


}
.city_date{
    color: white;
	margin-top: 15px;
	font-size: 30px;
	font-weight: 1000;

}
.current_temp
{
	margin-top: 15px;
	color: white;
	font-weight: 800;
	font-size: 100px;
	text-shadow: 5px 5px black;
}
.weather_condition{
	  color: white;
	margin-top: 15px;
	font-size: 30px;
	font-style:initial;

}
.hi_low{
	color: white;
	margin-top: 15px;
	font-size: 40px;
	margin-top: 15px;
}
